.connect {
	padding: 200px 0 150px 0;
}
.connect-line {
	margin: 35px 0 130px 0;
}
.connect-items {
	display: flex;
	justify-content: space-between;
}
.connect-item:first-child {
	width: 33%;
}
.connect-item.phone .connect-item__link {
	margin: 0 0 20px 0;
	&:last-child {
		margin: 0;
	}
}
.connect-item__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.6);
	margin: 0 0 45px 0;
	& strong {
		font-weight: 600;
		color: #FFFFFF;
	}
}
.connect-item__link {
	display: flex;
	color: #FFFFFF;
}
.connect-item__link.phone {
	flex-direction: column;
}
.connect__link-phone {
	display: flex;
	align-items: center;
}
.connect__link-desc {
	text-align: right;
	font-size: 12px;
	line-height: 15px;
	width: 64%;
}
.connect__link-img {
	width: 25px;
	height: 25px;
	margin: 0 7px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}
}
.connect__link-text {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	transition: all 0.3s ease;
}
.connect-social {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 45px 0 0 0;
}
.social-title {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: rgba(255, 255, 255, 0.6);
	margin: 0 0 45px 0;
}
.social-items {
	display: flex;
}
.social-item {
	background: #32323E;
	border-radius: 50px;
	filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 0 25px 0 0;
}
.social-item__svg {
	width: 25px;
	height: 25px;
	& svg {
		width: 100%;
		height: 100%;
		& path {
			transition: all 0.3s ease;
		}
	}
}
.map {
	width: 100%;
	height: 850px;
}
.map-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.map-img {
	width: 71px;
	height: 71px;
	margin: 0 15px 0 0;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50px;
	}
}
.map-home {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.05em;
}
.map-place {
	font-size: 14px;
	letter-spacing: 0.05em;
	color: #93A889;
	margin: 6px 0 8px 0;
}
.map-date {
	font-size: 14px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.8);
}
.gm-style .gm-style-iw-c {
	background: #24242C;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 17px;
}
.gm-style .gm-style-iw-tc::after {
	background: #24242C;
}
.gm-ui-hover-effect>span {
	background-color: #FFFFFF;
}
.gm-style .gm-style-iw-d {
	overflow: auto!important;
	padding: 20px 10px;
}
.gm-style .gm-style-iw-c {
	padding: 0;
}