.header {
	position: fixed;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	z-index: 200;
	transition: all 0.5s ease;
	background: $mainBg;
}
.header.header_bg {
	transform: translateY(-100%);
}
.header-body {
	display: flex;
	justify-content: space-between;
	padding: 0 0 0 30px;
}
.header-logo {
	padding: 8px 0 0 0;
}
.header-logo__link {
	display: block;
	width: 104px;
	height: 81px;
	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover	;
	}
}
.header-nav__list {
	display: flex;
	align-items: center;
	height: 100%;
}
.header-nav__list li {
	font-weight: 500;
	font-size: 18px;
	margin: 0 50px 0 0;
	height: 100%;
	display: flex;
	align-items: center;
	&:last-child {
		margin: 0;
	}
	& a {
		color: rgba(255, 255, 255, 0.79);
		transition: all 0.3s ease;
	}
}
.header-nav__list>.current_page_item {
	border-top: 1px solid #FFFFFF;
	& a {
		color: #FFFFFF;
	}
}
.header-contacts {
	padding: 23px 0 0 0;
}
.contacnts__item:first-child {
	margin: 0 0 5px 0;
}
.contacts__item-link {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.08em;
	color: $mainColor;
	transition: all 0.3s ease;
}
.contacts__item-text {
	text-align: right;
}
.header-lang {
	position: absolute;
	top: calc(50% - 12px);
	right: 5%;
}
.custom-select {
	border: none;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	background: #24242C;
}
.header-burger {
	display: none;
}
@media only screen and (max-width: 1600px){
	.header-lang {
		right: 10px;
	}
}
@media only screen and (max-width: 1450px){
	.header-lang {
		position: relative;
		right: 0;
		display: flex;
		align-items: center;
	}
	.header-body {
		padding: 0;
	}
}
@media only screen and (max-width: 1300px){
	.header-nav__list li {
		margin: 0 20px 0 0;
		&:last-child {
			margin: 0;
		}
	}
	.contacts__item-link {
		font-size: 16px;
	}
	.contacts__item-text {
		font-size: 14px;
	}
}
@media only screen and (max-width: 1000px){
	.header {
		padding: 10px 0;
	}
	.header-contacts, .header-logo {
		padding: 0;
	}
	.contacts__item-text {
		display: none;
	}
	.contacnts__item:first-child {
		margin: 0;
	}
	.header-body {
		align-items: center;
	}
	.header-lang, .header-nav {
		display: none;
	}
	.header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}

	.header-burger span {
		position: absolute;
		background-color: #FFFFFF;
		right: 0;
		width: 100%;
		height: 3px;
		top: 9px;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}

	.header-burger:before,
	.header-burger:after {
		content: '';
		background-color: #FFFFFF;
		position: absolute;
		width: 100%;
		height: 3px;
		left: 0;
		transition: all 0.3s ease 0s;
		border-radius: 2px;
	}

	.header-burger:before {
		top: 0;
	}

	.header-burger:after {
		bottom: 0;
	}

	.header-burger.active span {
		transform: scale(0);
	}

	.header-burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}

	.header-burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
}
@media only screen and (max-width: 550px){
	.header-logo__link {
		width: 80px;
		height: 60px;
	}

}
@media only screen and (max-width: 420px){
	.contacts__item-link {
		font-size: 14px;
	}
}