.links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.link {
	margin: 0 0 15px 0;
	& a {
		font-size: 24px;
		color: #fff;
		border-bottom: transparent;
		transition: all 0.3s ease;
		&:hover {
			border-bottom: 1px solid #3d3d3d;
			transition: all 0.3s ease;
		}
	}
}
.head {
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
}
.head-socail__abs {
	position: absolute;
	left: 35px;
	top: calc(50% - 97px);
}
.head-social__item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #32323E;
	filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
	border-radius: 50px;
	padding: 10px;
	margin: 0 0 30px 0;
	&:last-child {
		margin: 0;
	}
}
.head-social__item-svg {
	width: 25px;
	height: 25px;
	& svg {
		width: 100%;
		height: 100%;
		& path {
			transition: all 0.3s ease;
		}
	}
}
.head-text__right {
	position: absolute;
	right: 0;
	top: calc(50% - 233px);
	font-size: 150px;
	writing-mode: vertical-lr;
	line-height: 80%;
}
.head-text__bottom {
	position: absolute;
	bottom: -30%;
	left: 0;
}
.head-content {
	display: flex;
	margin: 0 -131px 0 0;
}
.head-info {
	width: 50%;
	margin: 0 80px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main__title {
	font-weight: 600;
	font-size: 42px;
	line-height: 126%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.head-info__subtitle {
	font-weight: 400;
	font-size: 22px;
	line-height: 141%;
	margin: 30px 0 40px 0;
}
.head-info__about {
	display: flex;
	align-items: center;
}
.info__about-img {
	width: 32px;
	height: 42px;
	margin: 0 15px 0 0;
	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.info__about-text {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: rgba(147, 168, 137, 0.64);
	width: calc(100% - 47px);
	& span {
		font-weight: 600;
		color: $mainColor;
	}
}
.head-info__btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 0 0;
	width: 90%;
}
.info__btn-play {
	width: 65px;
	height: 65px;
	background: #FFFFFF;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
}
.__btn-play-img {
	width: 16px;
	height: 20px;
	margin: 0 0 0 4px;
	& img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}
.pulse-button__rings.second {
	bottom: -2px;
}
.pulse-button__rings {
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -3px;
  right: -1px;
  height: auto;
  width: auto;
  border-radius: 50%;
  animation-duration: 2.0s;
  animation-name: pulse_1;
  animation-iteration-count: infinite;
}
.pulse-button__rings:nth-child(2) {
  animation-name: pulse_2;
}
.pulse-button__rings:nth-child(3) {
  animation-name: pulse_3;
}
@keyframes pulse_1 {
  from {
    opacity: 1;
    transform: scale(0.9, 0.9);
  }
 
  to {
    opacity: 0;
    transform: scale(1.3, 1.3);
  }
}
 
@keyframes pulse_2 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.5, 1.5);
  }
}
 
@keyframes pulse_3 {
  from {
    opacity: 1;
    transform: scale(0.8, 0.8);
  }
 
  to {
    opacity: 0;
    transform: scale(1.7, 1.7);
  }
}
.head-slider__wrapper {
	width: calc(45.3% + 131px);
	position: relative;
}
.head-slider {
	box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
}
.slick-dots {
	position: relative;
	bottom: 0;
	margin: 20px 0 0 0;
}
.slick-dots li {
	width: 22px;
	height: 3px;
	margin: 0 6px;
}
.slick-dots li.slick-active button {
	background: $mainColor;
}
.slick-dots li button {
	width: 22px;
	height: 3px;
	padding: 0;
	background: #3D3D47;
}
.slick-dots li button:before {
	width: 0;
	height: 0;
	font-size: 0;
}
.head-slider .slick-prev {
	width: 0;
	height: 0;
}
.head-slider .slick-prev:before {
	font-size: 0;
}
.head-slider .slick-next {
	width: 131px;
	height: 15px;
	background: url('../img/svg/icon_arrow.svg')no-repeat;
	background-size: contain;
	top: auto;
	bottom: -85px;
	right: 131px;
}
.head-slider .slick-next:before {
	content: '';
}
.head-slider__item {
	width: 782px;
	height: 602px;
	& img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}
.head-slider__wrapper .slides-numbers {
	position: absolute;	
	bottom: -80px;
	left: 50%;
}
.slide-active {
	font-weight: 500;
	font-size: 25px;
	line-height: 30px;
}
.slide-trait {
	color: rgba(255, 255, 255, 0.42);
}
.total {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.38);
}
.types {
	padding: 100px 0 190px 0;
}
.types-text__abs {
	position: absolute;
	right: 0;
	bottom: -2%;
}
.types-title {
	width: 90%;
}
.types-items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 14px);
	margin: 0 0 46px -7px;
}
.types-item {
	display: block;
	width: calc(25% - 14px);
	position: relative;
	margin: 0 7px 14px 7px;
	box-shadow: 0px 4px 19px 2px rgba(0, 0, 0, 0.25);
	color: #FFFFFF;
	overflow: hidden;
	transition: all 0.3s ease;
}
.types-item__img {
	width: 315px;
	height: 374px;
	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.5s ease;
	}
}
.types-item__info {
	position: absolute;
	bottom: -1px;
	left: 0px;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% + 1px);
	background: linear-gradient(180deg, rgba(36, 36, 44, 0) 0%, #24242C 100%);
}
.types-item__text {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 0.02em;
	margin: 40px 0 0 0;
	transition: all 0.5s ease;
}
.price-body {
	position: relative;
}
.text-abs__price {
	position: absolute;
	font-size: 150px;
	line-height: 80%;
	left: 0;
	top: calc(50% - 180px);
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}
.price-abs {
	position: absolute;
	top: 90px;
	right: 0;
	width: 47%;
}
.price-abs__text {
	font-size: 18px;
	line-height: 144%;
	color: rgba(255, 255, 255, 0.8);
}
.price-title {
	width: 44%;
}
.price-line {
	margin: 35px 0 150px 0;
}
.price-items {
	display: flex;
	width: calc(100% + 14px);
	margin: 0 0 0 -7px;
	align-items: flex-start;
}
.price-item {
	width: calc(25% - 14px);
	margin: 0 7px;
	background: #2B2C32;
	display: flex;
	flex-direction: column;
	color: #FFFFFF;
	transition: all 0.5s ease;
}
.price-item:nth-child(even){
	margin: 60px 7px 0 7px;
}
.price-item__img {
	width: 100%;
	height: 222px;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		transition: all 0.5s ease;
	}
}
.price-item__info {
	padding: 15px 15px 30px 15px;
}
.price-item__title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.03em;
	transition: all 0.5s ease;
}
.price-item__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 162%;
	& span {
		color: rgba(255, 255, 255, 0.44);
	}
	& strong {
		font-weight: 600;
		font-size: 24px;
		line-height: 108%;
		color: $mainColor;
	}
}
.price-item__text.mar {
	margin: 20px 0;
}
.price-item__btn {
	display: inline-block;
	font-size: 16px;
	padding: 12px 44px 12px 20px;
	margin: 45px 0 0 0;
}
.abs-about__right {
	position: absolute;
	top: 40px;
	right: -5%;
	writing-mode: vertical-lr;
}
.abs-about__left {
	position: absolute;
	left: -4%;
	bottom: 190px;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}
.about-title {
	width: 74%;
	& strong {
		font-weight: 600;
		color: $mainColor;
	}
}
.about-line, .project-line, .benefits-line, .work-line, .politics-line {
	margin: 35px 0 80px 0;
}
.about-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 120px 0;
	&:last-child {
		margin: 0;
	}
}
.about-item:nth-child(even) {
	flex-direction: row-reverse;
}
.about-item__imgs {
	display: flex;
	width: 50%;
	& img {
		box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.25);
	}
}
.about-item__imgs.wrap {
	flex-wrap: wrap;
}
.about-item__info {
	width: calc(50% - 90px);
}
.comfort-imgs__small {
	margin: 0 5px 0 0;
}
.comfort-img__small {
	width: 336px;
	height: 228px;
	&:first-child {
		margin: 0 0 5px 0;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.comfort-img {
	width: 306px;
	height: 461px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.about-inside__title {
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	margin: 0 0 35px 0;
}
.about-inside__text {
	font-weight: 400;
	font-size: 18px;
	line-height: 167%;
	color: rgba(255, 255, 255, 0.8);
	& strong {
		font-weight: 600;
		color: #FFFFFF;
	}
}
.access-img {
	width: 336px;
	height: 461px;
	&:first-child {
		margin: 0 5px 0 0;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.access-btn {
	margin: 60px 0 0 0;
}
.fast-img__small {
	width: 336px;
	height: 261px;
	&:first-child {
		margin: 0 0 5px 0;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.fast-img {
	width: 306px;
	height: 529px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.wp-redactor {
	& h1 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& h2 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& h3 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& h4 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& h5 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& h6 {
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
		margin: 0 0 35px 0;
	}
	& p {
		font-weight: 400;
		font-size: 18px;
		line-height: 167%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 35px 0;
	}
	& strong {
		font-weight: 600;
		color: #FFFFFF;
	}
	& ul, ol {
		margin: 0 0 35px 0;
	}
	& ul li {
		font-weight: 400;
		font-size: 18px;
		line-height: 167%;
		color: #FFFFFF;
		list-style-type: '- ';
		list-style-position: inside;
	}
	& ol li {
		font-weight: 400;
		font-size: 18px;
		line-height: 167%;
		color: #FFFFFF;
		list-style: decimal;
		list-style-position: inside;
	}
}
.safe-img_wrapper {
	width: calc(50% - 6px);
	height: 331px;
	margin: 0 3px 5px 3px;
}
.safe-img {
	height: 331px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.line-info {
	margin: 0 0 0 90px;
}
.line-imgs {
	display: flex;
}
.line-img {
	width: 336px;
	height: 461px;
	&:first-child {
		margin: 0 5px 0 0;
	}
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.project-title {
	width: 50%;
}
.text-abs__project {
	font-size: 160px;
	position: absolute;
	right: 140px;
	top: 85px
}
.project-slider .slick-prev {
	display: none!important;
}
.project-slider .slick-next {
	width: 131px;
	height: 18px;
	background: url('../img/svg/icon_arrow.svg')no-repeat;
	background-size: contain;
	top: auto;
	right: auto;
	left: 46%;
	bottom: -100px;
}
.project-slider__wrapper {
	position: relative;
}
.project-slider__wrapper .slides-numbers {
	position: absolute;
	bottom: -93px;
	left: 35%;
}
.button-wrapper__left {
	margin: 45px 0 0 0;
}
.project-slider .slick-next::before {
	content: '';
}
.project-item {
	display: flex!important;
	justify-content: space-between;
	align-items: center;
}
.project-item__img {
	width: 58%;
	height: 551px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.project-item__info {
	width: calc(42% - 80px);
	& h1 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& h2 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& h3 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& h4 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& h5 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& h6 {
		font-weight: 600;
		font-size: 32px;
		line-height: 39px;
		letter-spacing: 0.02em;
		margin: 0 0 30px 0;
	}
	& p {
		font-weight: 400;
		font-size: 18px;
		line-height: 144%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 30px 0;
	}
	& ul, ol {
		margin: 0 0 20px 0;
	}
	& ul li, ol li {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: rgba(255, 255, 255, 0.5);
		list-style: none;
		margin: 0 0 10px 0;
		& strong {
			color: #FFFFFF;
		}
	}
	& strong {
		font-weight: 500;
	}
}
.project-btn {
	padding: 20px 80px 20px 30px;
}
.text-abs__faq {
	font-size: 160px;
	top: -30px;
	right: -3%;
	position: absolute;
}
.faq-items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin: 0 0 0 -15px;
}
.faq-column {
	width: calc(50% - 30px);
	margin: 0 15px 0 15px;
}
.faq-item {
	margin: 0 0 30px 0;
}
.faq-item__plug {
	background: #37373E;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.16);
	padding: 20px 40px 20px 15px;
	font-weight: 600;
	font-size: 18px;
	line-height: 144%;
	cursor: pointer;
	position: relative;
	min-height: 96px;
	display: flex;
	align-items: center;
}
.faq-item__plug.down {
	box-shadow: none;
}
.faq-item__plug.down::before {
	transform: rotate(180deg);
	transition: all 0.3s ease;
}
.faq-item__plug::before {
	content: '';
	position: absolute;
	top: calc(50% - 7px);
	right: 17px;
	width: 24px;
	height: 14px;
	background: url('../img/svg/icon_faq_arrow.svg');
	background-size: contain;
	transition: all 0.3s ease;
}
.faq-answer__wrapper {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.3s ease;
	background: #37373E;
	box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.16);
}
.faq-answer {
	padding: 20px 15px 30px 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 144%;
}
.consalt {
	padding: 170px 0;
}
.consalt-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.consalt-text {
	width: 65%;
	font-weight: 400;
	font-size: 18px;
	line-height: 144%;
	color: rgba(255, 255, 255, 0.8)
}
.contacnts {
	padding: 0 0 120px 0;
}
.contacts-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.contacts-item {
	display: flex;
	align-items: flex-start;
	color: #FFFFFF;
	width: 33%;
	& a {
		color: #FFFFFF;
	}
}
.contacts-item.double {
	flex-direction: column;
	align-items: flex-start;
}
.contacts__phone-info {
	display: flex;
	align-items: center;
}
.contacts-item__phone {
	display: flex;
	align-items: center;
}
.contacts-item__phone.desc {
	flex-direction: column;
	align-items: flex-end;
	margin: 20px 0 0 0;
}
.contacts-item__img {
	width: 25px;
	height: 25px;
	margin: 0 10px 0 0;
	& img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
}
.contacts__phone-desc {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}
.contacts-item__text {
	font-weight: 500;
	font-size: 22px;
	transition: all 0.3s ease;
}
.contacts-social__items {
	display: flex;
	margin: 45px 0 0 0;
}
.contacts-social__item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
	filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
	background: #32323E;
	border-radius: 50px;
	padding: 10px;
	margin: 0 25px 0 0;
	&:last-child {
		margin: 0;
	}
}
.social__item-svg {
	width: 25px;
	height: 25px;
	& svg {
		width: 100%;
		height: 100%;
		& path {
			transition: all 0.3s ease;
		}
	}
}
.other {
	padding: 25px 0 30px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	background: #1F1F25;
	position: relative;
	z-index: 1;
}
.other-body {
	display: flex;
	justify-content: space-between;
}
.other-info {
	display: flex;
	& p {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.64);
		margin: 0 50px 0 0;
	}
	& a {
		font-size: 14px;
		color: rgba(255, 255, 255, 0.64);
		transition: all 0.3s ease;
	}
}
.other-developer {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.64);
	& a {
		font-weight: 500;
		color: #FFFFFF;
		transition: all 0.3s ease;
	}
}
//404
.error .abs-wrapper {
	height: 100%;
}
.error .text-abs__top {
	top: 120px;
}
.error {
	height: 100vh;
}
.error-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 100px 20px 0 20px!important;
}
.error-title {
	font-weight: 600;
	font-size: 200px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $mainColor;
}
.error-text {
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 0.05em;
	margin: 80px 0 140px 0;
}
.error-btn {
	padding: 20px 40px;
}
.error-btn::before {
	border: none;
}
//politics
.politics {
	padding: 200px 0 140px 0;
}
.politics-body .wp-redactor {
	h1 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h2 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h3 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h4 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h5 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h6 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	p {
		font-size: 18px;
		line-height: 144%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 30px 0;
	}
	ul, ol {
		margin: 0 0 30px 0;
		padding: 0 0 0 15px;
	}
	ul li {
		font-size: 18px;
		line-height: 161%;
		list-style: url('../img/svg/icon_circle-li.svg');
	}
	ol li {
		font-size: 18px;
		line-height: 161%;
		list-style: decimal;
	}
}

@media only screen and (max-width: 2100px){
	.abs-about__right, .text-abs__faq {
		right: 20px;
	}
	.abs-about__left {
		left: 20px;
	}
}
@media only screen and (max-width: 1920px){
	.abs-wrapper {
		width: 100%;
	}
}
@media only screen and (max-width: 1600px){
	.head-slider__wrapper {
		width: 50%;
	}
	.head-content {
		margin: 0;
	}
	.head-socail__abs {
		display: flex;
		align-items: flex-start;
		top: auto;
		bottom: -40px;
	}
	.head-social__item {
		margin: 0 35px 0 0;
	}
	.head-slider .slick-next {
		right: 0;
	}
}
@media only screen and (max-width: 1450px){
	.head-text__right {
		writing-mode: horizontal-tb;
		top: -20%;
	}
	.text-abs__price {
		writing-mode: horizontal-tb;
		transform: rotate(0deg);
		top: 18%;
	}

}
@media only screen and (max-width: 1360px){
	.container {
		padding: 0 20px;
	}
	.head-socail__abs {
		left: 20px;
	}
}
@media only screen and (max-width: 1270px){
	.price-items {
		flex-wrap: wrap;
	}
	.price-item {
		width: calc(33% - 14px);
	}
	.text-abs__price {
		top: 11%;
	}
}
@media only screen and (max-width: 1250px){
	.head-info {
		margin: 0 20px 0 0;
	}
	.text-abs__project {
		right: 0;
	}
}
@media only screen and (max-width: 1200px){
	.comfort-img__small, .fast-img__small {
		width: 276px;
	}
	.about-item__info {
		width: calc(50% - 40px);
	}
	.contacts-items {
		flex-direction: column;
	}
	.contacts-item {
		width: 100%;
		margin: 0 0 30px 0;
		&:last-child {
			margin: 0;
		}
	}
}
@media only screen and (max-width: 1120px){
	.head-slider__item {
		height: 520px;
	}
	.main__title {
		font-size: 38px;
	}
	.head-info__subtitle, .info__about-text {
		font-size: 20px;
	}
}
@media only screen and (max-width: 1100px){
	.comfort-img__small, .fast-img__small {
		width: 252px;
	}
	.project-item__info {
		width: calc(42% - 40px);
	}
	.text-abs__project {
		font-size: 100px;
	}
}
@media only screen and (max-width: 1000px){
	.abs-line.half-left {
		left: 15%;
	}
	.abs-line.half-right {
		right: 15%;
	}
	.abs-line.left {
		left: 0;
	}
	.abs-line.right {
		right: 0;
		left: auto;
		margin: 0;
	}
	.head-content {
		flex-direction: column-reverse;
		margin: 0;
	}
	.head-slider__wrapper {
		width: 100%;
	}
	.head-slider__wrapper .slides-numbers {
		bottom: 10px;
		left: auto;
		right: 150px;
	}
	.head-slider .slick-next {
		bottom: 5px;
	}
	.head-info {
		margin: 35px 0 0 0;
		width: 90%;
	}
	.main__title {
		font-size: 42px;
	}
	.head-info__subtitle {
		font-size: 22px;
	}
	.info__about-text {
		font-size: 24px;
	}
	.head-socail__abs {
		bottom: 18%;
		left: auto;
		right: 20px;
		flex-direction: column;
	}
	.head-social__item {
		margin: 0 0 35px 0;
	}
	.head {
		height: auto;
		padding: 170px 0 0 0;
	}
	.head-text__right {
		top: -80px;
		right: auto;
		left: 20px;
		font-size: 100px;
	}
	.head-text__bottom {
		bottom: auto;
		top: -120px;
		left: 350px;
		font-size: 100px;
	}
	.types-text__abs {
		font-size: 100px;
		bottom: 4%;
	}
	.types-item__img {
		width: 369px;
	}
	.types {
		padding: 100px 0 120px 0;
	}
	.about, .price, .project {
		padding: 0 0 120px 0;
	}
	.price-abs {
		position: relative;
		width: 100%;
		top: 0;
		margin: 0 0 50px 0;
	}
	.price-line {
		margin: 35px 0 60px 0;
	}
	.price-title {
		width: 60%;
	}
	.text-abs__price {
		font-size: 100px;
		left: auto;
		right: 0;
		top: 0;
	}
	.about-item {
		flex-direction: column-reverse!important;
		align-items: flex-start;
		margin: 0 0 60px 0;
	}
	.about-item__info {
		width: 76%;
		margin: 0 0 30px 0;
	}
	.about-item__imgs {
		width: 76%;
	}
	.comfort-imgs__small {
		width: 50%;
	}
	.fast-img__small, .comfort-img__small {
		width: 100%;
	}
	.fast-img, .comfort-img, .access-img, .line-img {
		width: 50%;
	}
	.abs-about__left {
		left: auto;
		right: 0;
		transform: rotate(0deg);
	}
	.project-item {
		flex-direction: column;
	}
	.project-item__img {
		width: 100%;
	}
	.project-item__info {
		width: 100%;
		margin: 30px 0 0 0;
	}
	.project-slider .slick-next {
		left: auto;
		right: 0;
	}
	.project-slider__wrapper .slides-numbers {
		left: auto;
		right: 160px;
	}
	.consalt-body {
		flex-direction: column;
		align-items: flex-start;
	}
	.consalt-text {
		width: 100%;
		margin: 0 0 30px 0;
	}
	.error-text {
		margin: 50px 0 100px 0;
	}
}
@media only screen and (max-width: 900px){
	.head-info {
		width: 72%;
	}
	.about-item__imgs, .about-item__info {
		width: 86%;
	}
	.about-title {
		width: 84%;
	}
	.project-title {
		width: 70%;
	}
	.faq-items {
		width: 100%;
		margin: 0;
	}
	.faq-column {
		width: 100%;
		margin: 0;
	}
}
@media only screen and (max-width: 800px){
	.text-abs {
		letter-spacing: 0.02em;
	}
	.title {
		font-size: 34px;
	}
	.head-info {
		width: 82%;
	}
	.about-item__imgs, .about-item__info {
		width: 100%;
	}
	.abs-about__right {
		writing-mode: horizontal-tb;
		font-size: 80px;
		right: 0;
		top: -130px;
	}
	.about {
		padding: 100px 0 120px 0;
	}
	.abs-about__left {
		display: none;
	}
	.about-line, .benefits-line, .politics-line, .project-line, .work-line {
		margin: 35px 0 60px 0;
	}
	.text-abs__project {
		font-size: 70px;
		top: 70px;
	}
	.text-abs__faq {
		font-size: 100px;
		top: 0;
	}
	.consalt {
		padding: 120px 0;
	}
	.error-title {
		font-size: 150px;
	}
	.error-text {
		margin: 50px 0 80px 0;
	}
	.politics {
		padding: 150px 0 100px 0;
	}
}
@media only screen and (max-width: 750px){
	.main__title {
		font-size: 38px;
	}
	.head-slider__item, .project-item__img {
		height: 420px;
	}
}
@media only screen and (max-width: 700px){
	.head-info {
		width: 100%;
	}
	.head-socail__abs {
		display: none;
	}
	.head-text__right {
		font-size: 70px;
		top: -60px;
	}
	.head-text__bottom {
		font-size: 70px;
		top: -110px;
		left: 270px;
	}
}
@media only screen and (max-width: 680px){
	.text-abs__price {
		font-size: 80px;
		top: 9%;
	}
}
@media only screen and (max-width: 650px){
	.price-item__btn {
		padding: 12px 60px 12px 30px!important;
	}
	.price-item__btn::before {
		right: 20px;
	}
	.about-title {
		width: 100%;
	}
}
@media only screen and (max-width: 600px){
	.types-items .slick-dots {
		margin: 0;
	}
	.types-text__abs {
		bottom: auto;
		top: 30px;
		font-size: 70px;
	}
	.about {
		padding: 100px 0 80px 0;
	}
	.price, .project {
		padding: 0 0 80px 0;
	}
	.access-img, .comfort-img, .fast-img, .line-img {
		height: 400px;
	}
	.comfort-img__small, .fast-img__small {
		height: 197px;
	}
	.safe-img, .safe-img_wrapper {
		height: 280px;
	}
	.text-abs__project {
		font-size: 50px;
	}
	.project-body .button-wrapper__left {
		margin: 100px 0 0 0;
		display: flex;
		justify-content: center;
	}
	.project-slider__wrapper .slides-numbers {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
		bottom: -60px;
		z-index: -1;
	}
	.project-slider .slick-next {
		bottom: -65px;
	}
	.text-abs__faq {
		font-size: 80px;
	}
	.consalt {
		padding: 100px 0;
	}
	.politics-body .wp-redactor {
		h1 {
			font-size: 22px;
			line-height: 120%;
		}
		h2 {
			font-size: 22px;
			line-height: 120%;
		}
		h3 {
			font-size: 22px;
			line-height: 120%;
		}
		h4 {
			font-size: 22px;
			line-height: 120%;
		}
		h5 {
			font-size: 22px;
			line-height: 120%;
		}
		h6 {
			font-size: 22px;
			line-height: 120%;
		}
		p {
			font-size: 16px;
			margin: 0 0 20px 0;
		}
		ul, ol {
			margin: 0 0 20px 0;
		}
		ul li, ol li {
			font-size: 16px;
		}
	}
}
@media only screen and (max-width: 550px){
	.title {
		font-size: 26px;
	}
	.head-slider__item {
		height: 320px;
	}
	.main__title {
		font-size: 32px;
	}
	.head-info__subtitle {
		margin: 20px 0;
	}
	.head-info__subtitle, .info__about-text {
		font-size: 18px;
	}
	.head-info__btns {
		width: 100%;
		margin: 40px 0 0 0;
	}
	.head-text__right {
    font-size: 50px;
    top: -50px;
	}
	.head-text__bottom {
    font-size: 50px;
    top: -108px;
    left: 205px;
	}
	.head-info__about {
		align-items: flex-start;
	}
	.info__about-img {
		width: 20px;
		height: 26px;
		margin: 5px 15px 0 0;
	}
	.info__about-text {
		width: calc(100% - 35px);
	}
	.types-title {
		width: 100%;
	}
	.types-item__img {
		width: 500px;
	}
	.types-text__abs {
		top: 10px;
	}
	.text-abs__price {
		font-size: 50px;
		top: 7%;
	}
	.abs-about__right {
		font-size: 50px;
		top: -110px;
	}
	.about-inside__title {
		font-size: 28px;
		line-height: 100%;
		margin: 0 0 20px 0;
	}
	.access-btn {
		margin: 30px 0 0 0;
	}
	.wp-redactor {
		& h1 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& h2 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& h3 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& h4 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& h5 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& h6 {
			font-size: 28px;
			line-height: 100%;
			margin: 0 0 20px 0;
		}
		& ul, ol {
			margin: 0 0 20px 0;
		}
		& p {
			margin: 0 0 20px 0;
		}
	}
	.text-abs__project {
		top: 55px;
	}
	.project-item__img {
		height: 320px;
	}
	.error-title {
		font-size: 100px;
	}
	.error-text {
		font-size: 22px;
		margin: 30px 0 60px 0;
		text-align: center;
	}
	.error-btn {
		text-align: center;
	}
}
@media only screen and (max-width: 480px){
	.info__btn {
		font-size: 16px;
		padding: 15px 30px 15px 15px;
	}
	.info__btn::before {
		right: 15px;
	}
	.info__btn-play {
		width: 42px;
		height: 42px;
	}
	.__btn-play-img {
		width: 13px;
		height: 17px;
		& img {
			object-fit: contain;
		}
	}
	.head-slider__item {
    height: 230px;
	}
	.main__title {
		font-size: 26px;
	}
	.head-info__subtitle {
		font-size: 16px;
	}
	.head-slider__wrapper .slides-numbers {
		bottom: 5px;
		right: 90px;
	}
	.head-slider .slick-next {
		width: 60px;
		right: 10px;
		bottom: -5px;
	}
	.slide-active {
		font-size: 20px;
	}
	.total {
		font-size: 13px;
	}
	.types-text__abs {
		font-size: 50px;
		top: 5px;
	}
	.price-line {
		margin: 35px 0 30px 0;
	}
	.price-abs__text {
		font-size: 16px;
	}
	.access-img, .comfort-img, .fast-img, .line-img {
		height: 320px;
	}
	.comfort-img__small, .fast-img__small {
		height: 157px;
	}
	.safe-img, .safe-img_wrapper {
		height: 220px;
	}
	.project-item__info {
		& h3 {
			font-size: 26px;
			margin: 0 0 20px 0;
		}
		& p {
			font-size: 16px;
			margin: 0 0 20px 0;
		}
		& ul li, ol li {
			font-size: 16px;
		}
	}
	.text-abs__faq {
		font-size: 50px;
		top: 20px;
	}
	.politics {
		padding: 120px 0 70px 0;
	}
	.politics-body .wp-redactor {
		h1 {
			font-size: 18px;
			line-height: 120%;
		}
		h2 {
			font-size: 18px;
			line-height: 120%;
		}
		h3 {
			font-size: 18px;
			line-height: 120%;
		}
		h4 {
			font-size: 18px;
			line-height: 120%;
		}
		h5 {
			font-size: 18px;
			line-height: 120%;
		}
		h6 {
			font-size: 18px;
		}
	}
}
@media only screen and (max-width: 420px){
	.about-inside__text {
		font-size: 16px;
	}
	.about-item {
		margin: 0 0 30px 0;
	}
	.about-inside__title {
		font-size: 22px;
		margin: 0 0 15px 0;
	}
	.about-line, .benefits-line, .politics-line, .project-line, .work-line {
		margin: 30px 0;
	}
	.wp-redactor {
		& h1 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& h2 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& h3 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& h4 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& h5 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& h6 {
			font-size: 22px;
			margin: 0 0 15px 0;
		}
		& ul, ol {
			margin: 0 0 15px 0;
		}
		& p {
			font-size: 16px;
			margin: 0 0 15px 0;
		}
		& ul li, ol li {
			font-size: 16px;
		}
	}
	.access-img, .comfort-img, .fast-img, .line-img {
		height: 260px;
	}
	.comfort-img__small, .fast-img__small {
		height: 127px;
	}
	.safe-img, .safe-img_wrapper {
		height: 190px;
	}
	.project-item__info h3 {
		font-size: 24px;
	}
	.project-line {
		margin: 30px 0 70px 0;
	}
	.project-title {
		width: 100%;
	}
	.project-slider__wrapper .slides-numbers {
		right: auto;
		left: 20%;
	}
	.project-item__img {
		height: 280px;
	}
	.faq-item {
		margin: 0 0 15px 0;
	}
	.faq-item__plug {
		padding: 15px 45px 15px 15px;
	}
	.faq-item__plug, .faq-answer {
		font-size: 16px;
	}
	.consalt-text {
		font-size: 16px;
	}
	.contacts-item__text {
		font-size: 18px;
	}
	.text-abs__price {
		font-size: 46px;
		top: 62px;
	}
	.main-btn {
		font-size: 16px;
		padding: 20px 0;
		width: 100%;
		&::before {
			right: 15px;
		}
	}
}
@media only screen and (max-width: 400px){
	.head {
		padding: 150px 0 0 0;
	}
	.head-text__right {
    font-size: 36px;
    top: -43px;
	}
	.head-text__bottom {
    font-size: 36px;
    top: -108px;
    left: 164px;
	}
	.types-text__abs {
		top: 35px;
	}
	.price-item__text.mar strong {
		font-size: 24px;
	}
	.price-item__text strong {
		font-size: 16px;
	}
}
@media only screen and (max-width: 360px){
	.main__title {
		font-size: 22px;
	}
	.info__about-text {
		font-size: 16px;
	}
	.head-info__btns {
		flex-direction: column-reverse;
		align-items: flex-start;
		margin: 20px 0 0 0;
	}
	.info__btn-play {
		margin: 0 0 20px 0;
	}
	.text-abs__project {
		font-size: 40px;
	}
	.text-abs__faq {
		top: 50px;
	}
	.contacts-item__text {
		font-size: 16px;
	}
	.politics-title {
		font-size: 22px;
	}
	.project-item__info h3 {
		font-size: 20px;
	}
}