.list {
	padding: 200px 0;
}
.list-title {
	width: 85%;
}
.list-items {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 28px);
	margin: 70px 0 0 -14px;
}
.list-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #37373E;
	box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.25);
	padding: 0 20px;
	height: 188px;
	width: calc(33% - 28px);
	margin: 0 14px 28px 14px;
}
.list-item.btn {
	background: transparent;
	box-shadow: none;
	padding: 0;
}
.list-item__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 130%;
	text-align: center;
}
.list-desc {
	margin: 50px 0 0 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 155%;
	width: 70%;
	& strong {
		font-weight: 500;
		color: $mainColor;
	}
}
.text-abs__service {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	position: absolute;
	left: 3.9%;	
}
@media only screen and (max-width: 1450px){
	.text-abs__service {
		writing-mode: horizontal-tb;
		transform: rotate(0deg);
		font-size: 100px;
		position: absolute;
		right: 0;
		top: 0;
		left: auto;
	}
}
@media only screen and (max-width: 1050px){
	.list-item {
		width: calc(50% - 28px);
		height: 220px;
	}
}
@media only screen and (max-width: 970px){
	.list {
		padding: 200px 0 120px 0;
	}
	.list-desc {
		width: 100%;
	}
	.text-abs__service {
		font-size: 80px;
		top: 50px;
	}
}
@media only screen and (max-width: 800px){
	.list {
		padding: 150px 0 120px 0;
	}
	.list-items {
		margin: 40px 0 0 -14px;
	}
	.list-desc {
		margin: 30px 0 0 0;
	}
	.text-abs__service {
		font-size: 50px;
		top: 25px;
	}
}
@media only screen and (max-width: 700px){
	.list-items {
		width: 100%;
		margin: 40px 0 0 0;
	}
	.list-desc {
		margin: 0;
	}
	.list-item {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.list-desc {
		font-size: 18px;
	}
}
@media only screen and (max-width: 620px){
	.text-abs__service {
		top: 65px;
	}
}
@media only screen and (max-width: 550px){
	.list {
		padding: 120px 0 100px 0;
	}
	.list-desc {
		font-size: 16px;
	}
	.list-title {
		width: 100%;
	}
	.list-item.btn {
		height: 100px;
	}
	.text-abs__service {
		top: 5px;
	}
}
@media only screen and (max-width: 420px){
	.list-item {
		height: 180px;
	}
	.list-item__text {
		font-size: 18px;
	}
	.text-abs__service {
		top: 36px;
	}
}
@media only screen and (max-width: 370px){
	.list-item__text {
		font-size: 16px;
	}
	.list-title {
		font-size: 22px;
	}
	.text-abs__service {
		top: 20px;
	}
}