.type-title {
	font-weight: 600;
	font-size: 42px;
	line-height: 126%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin: 0 0 50px 0;
}
.type .head-content {
	margin: 0;
}
.type .head-slider__wrapper {
	width: 50%;
}
.build {
	padding: 100px 0 0 0;
}
.build-info__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
.build-info .wp-redactor {
	h1 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h2 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h3 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h4 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h5 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	h6 {
		font-weight: 600;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.02em;
		margin: 0 0 20px 0;
	}
	p {
		font-size: 18px;
		line-height: 144%;
		color: rgba(255, 255, 255, 0.8);
		margin: 0 0 30px 0;
	}
	ul, ol {
		margin: 0 0 30px 0;
		padding: 0 0 0 15px;
	}
	ul li {
		font-size: 18px;
		line-height: 140%;
		position: relative;
		list-style: none;
		margin: 0 0 10px 0;
		& strong {
			font-weight: 600;
		}
		&:last-child {
			margin: 0;
		}
		&::before {
			content: '';
			position: absolute;
			top: 9px;
			left: -15px;
			width: 8px;
			height: 8px;
			background: url('../img/svg/icon_circle-li.svg');
		}
	}
	ol li {
		font-size: 18px;
		line-height: 161%;
		list-style: decimal;
		list-style-position: inside;
	}
}
.build-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.build-info {
	width: 70%;
}
.build-bar {
	width: calc(30% - 25px);
	background: #37373E;
	padding: 25px 30px 55px 30px;
}
.build-bar__title {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	letter-spacing: 0.02em;
	margin: 0 0 25px 0;
}
.build-item {
	display: block;
	margin: 0 0 30px 0;
	background: #2B2C32;
	color: #FFFFFF;
	box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.25);
	&:last-child {
		margin: 0;
	}
}
.build-item__img {
	width: 100%;
	height: 222px;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}
.build-item__info {
	padding: 20px 20px 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.build-title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.03em;
}
.build-text {
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	margin: 15px 0 30px 0;
	& strong {
		color: $mainColor;
		font-weight: 600;
		font-size: 24px;
	}
}
.build-btn {
	padding: 12px 44px 12px 21px;
	font-size: 16px;
}
.dream {
	padding: 0 0 180px 0;
}
.dream-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dream-info__title {
	font-weight: 600;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}
.dream-info__text {
	font-size: 18px;
	line-height: 144%;
	color: rgba(255, 255, 255, 0.8);
}
.dream-info {
	width: 65%;
}
@media only screen and (max-width: 1200px){
	.build-info {
		width: 65%;
	}
	.build-bar {
		width: calc(35% - 25px);
	}
}
@media only screen and (max-width: 1180px){
	.build-info {
		width: 60%;
	}
	.build-bar {
		width: calc(40% - 25px);
	}
}
@media only screen and (max-width: 1120px){
	.type-title {
		font-size: 38px;
	}
}
@media only screen and (max-width: 1000px){
	.type .head-slider__wrapper {
		width: 100%;
	}
	.type .head-socail__abs {
		bottom: 10%;
	}
	.build-content {
		flex-direction: column;
	}
	.build-info {
		width: 100%;
	}
	.build-bar {
		width: 100%;
	}
	.build-items {
		display: flex;
		align-items: flex-start;
		width: calc(100% + 20px);
		margin: 0 0 0 -10px;
	}
	.build-item {
		width: calc(33% - 20px);
		margin: 0 10px;
		&:last-child {
			margin: 0 10px;
		}
	}
	.dream-body {
		flex-direction: column;
	}
	.dream-info {
		width: 100%;
	}
	.dream-btn__wrapper {
		margin: 30px 0 0 0;
		width: 100%;
	}
}
@media only screen and (max-width: 900px){
	.build-info__title {
		font-size: 28px;
	}
}
@media only screen and (max-width: 800px){
	.build-items {
		flex-wrap: wrap;
	}
	.build-item {
		width: calc(50% - 20px);
		margin: 0 10px 30px 10px;
	}
	.dream-info__title {
		font-size: 34px;
		margin: 0 0 30px 0;
	}
}
@media only screen and (max-width: 700px){
	.build-info__title {
		font-size: 24px;
	}
}
@media only screen and (max-width: 650px){
	.build-items {
		width: 100%;
		margin: 0;
		justify-content: center;
	}
	.build-item {
		width: 80%;
		margin: 0 0 30px 0;
	}
}
@media only screen and (max-width: 600px){
	.types-title {
		width: 100%;
	}
	.type-title {
		font-size: 32px;
	}
	.build-info .wp-redactor {
		h1 {
			font-size: 22px;
			line-height: 120%;
		}
		h2 {
			font-size: 22px;
			line-height: 120%;
		}
		h3 {
			font-size: 22px;
			line-height: 120%;
		}
		h4 {
			font-size: 22px;
			line-height: 120%;
		}
		h5 {
			font-size: 22px;
			line-height: 120%;
		}
		h6 {
			font-size: 22px;
			line-height: 120%;
		}
		p {
			font-size: 16px;
			margin: 0 0 20px 0;
		}
		ul, ol {
			margin: 0 0 20px 0;
		}
		ul li, ol li {
			font-size: 16px;
		}
	}
}
@media only screen and (max-width: 550px){
	.dream-info__title {
		font-size: 26px;
		line-height: 130%;
		margin: 0 0 20px 0;
	}
	.dream-info__text {
		font-size: 16px;
	}
	.type-title {
		font-size: 26px;
		margin: 0 0 20px 0;
	}
}
@media only screen and (max-width: 480px){
	.build-info .wp-redactor {
		h1 {
			font-size: 18px;
			line-height: 120%;
		}
		h2 {
			font-size: 18px;
			line-height: 120%;
		}
		h3 {
			font-size: 18px;
			line-height: 120%;
		}
		h4 {
			font-size: 18px;
			line-height: 120%;
		}
		h5 {
			font-size: 18px;
			line-height: 120%;
		}
		h6 {
			font-size: 18px;
		}
	}
	.build-item {
		width: 100%;
	}
}
@media only screen and (max-width: 440px){
	.build-info__title {
		font-size: 20px;
	}
}
@media only screen and (max-width: 420px){
	.build-item__img {
		height: 200px;
	}
	.build-bar {
		padding: 25px 10px 55px 10px;
	}
}
@media only screen and (max-width: 370px){
	.build-item__img {
		height: 170px;
	}
	.dream-info__title {
		font-size: 22px;
	}
	.type-title {
		font-size: 22px;
	}
}